{% extends 'html/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
{% block base1 %}
<body>
        <div class="container-fluid ">
                
                <div class="container-fluid" style="background-color: lightblue; border-style: solid;">
                        <img src="/media/{{ colg_data.college_image }}" style="width: 255px; height: 150px;" class="card-img-top" alt="..."><br><br>
                        
                        {{colg_data.college_name}}<br>
                        {{colg_data.college_address}}<br>

                        {% for colg_cors in colg_id %}
                        {{ colg_cors.course}}
                        {{colg_cors.course.branch}}<br>
                        {{colg_cors.course.stream}}<br>
                        {{colg_cors.fee}}<br>
                        {% endfor %}
                        
                </div>
                

                {% comment %} <div class="col-6" style="background-color: lightblue;border-style: solid;">

                        <form class="d-flex mt-2" method="POST" action="{% url 'search-colg' %}" style="float: right;">
                                {% csrf_token %}
                                <input type="search" placeholder="Search" area-label="search" name="searched">
                                <button class="btn btn-outline-secondary" type="submit"> Search College</button>
                        </form>

                        <center>
                                {% if searched %}
                                        <h1>you search {{searched}}</h1>
                                {% for vanues in venue %}
                                        
                                        <a href="{% url 'compare_colg' vanues.id %}">{{vanues}}</a>

                                {% endfor %}

                                {% else %}
                                        <h1>You Forgote to Search </h1>

                                {% endif %}
                        </center>
                        <!-- <div class="" style="background-color: lightblue; border-style: solid;"> -->
                                <!-- <img src="/media/{{ colg_data.college_image }}" style="width: 255px; height: 150px;" class="card-img-top" alt="..."><br><br>
                                
                                {{comp_colg_data.college_name}}<br>
                                {{comp_colg_data.college_address}}<br>
        
                                {% for comp_colg_cors in comp_colg_id %}
                                {{ comp_colg_cors.course}}
                                {{comp_colg_cors.course.branch}}<br>
                                {{comp_colg_cors.course.stream}}<br>
                                {{comp_colg_cors.fee}}<br>
                                {% endfor %} -->
                                <div> {% endcomment %}
                                {% comment %} {% block compare %}
                                {% include 'html/compare.html' %}

                                {% endblock compare %} {% endcomment %}
</div>
                                


                </div>
        </div>
</body>
{% endblock base1 %}

</html>
