<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>

        <p>
            {% for data in colg_data %}
            
            {{data.college_name}}<br>
            {{data.college_image}}<br>
            <a href='{% url 'Cod' data.id %}'> {{ data.college_name }}</a>
            {{data.id}}<br>


            {% endfor %}
            {% for data in colg_id %}
            {{data.course}}<br>
            {{data.course.degree}}<br>
            {% endfor %}


            
    </div>
</body>
</html>